.disabled-div {
    opacity: 0.4;
}

.trip-card-collection-wrapper {
    overflow-x: hidden;
}
  
.selected-routes-wrapper {
    overflow-x: hidden;
}
  
.pagination_page-button-2 {
      border-radius: 0.6rem;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #7c3c3c;
    border-radius: 10px;
    border: 3px solid #e5e5e5;
}

.filter_options::-webkit-scrollbar-thumb {
    background-color: #7c3c3c;
    border-radius: 10px;
    border: 3px solid white;
}