.disabled-div {
    opacity: 0.4;
}

.disabled-button {
    pointer-events: none;
    opacity: 0.4;
}

.trip-card-collection-wrapper, .selected-routes-wrapper, .predicted-trips {
    overflow-x: hidden;
}

.trip-card-collection-wrapper .map-prediction, .selected-routes-wrapper .map-prediction{
    visibility: hidden;
}

.predicted-trips .map-prediction{
    visibility: visible;
}
  
.pagination_page-button-2 {
      border-radius: 0.6rem;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #7c3c3c;
    border-radius: 10px;
    border: 3px solid white
    ;
}